:root{
    --main-color:#00c7fc;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Crimson Text', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
}

@media (min-Width: 768px){
    .container{
        width: 750px;
    }
}

@media (min-Width: 992px){
    .container{
        width: 970px
    }
}

@media (min-Width: 1200px){
    .container{
        width: 1170px;
    }
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.form_card{
    background-color: #F7F7F7;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border-color: #cbcbcb;
    border-style: solid;
    border-width: 0.5px;
    padding: 0 50px 70px;
}
.buttons{
    display: flex;
    margin:20px auto ;
    position:relative;
    background-color: #ececec;
    width: 220px;
    height: 40px;
    justify-content: center;
    border-radius: 6px;
    outline: none;
    border-color:transparent ;
}


.buttons input[type="submit"]{
    padding: 5px 10px;
    border-radius: 6px;
    width: 50%;
    height: 90%;
    position: absolute;
    border-color: transparent;
    justify-content: center;
    bottom: 5%;
    font-weight: 600;
    cursor: pointer;
}
.buttons .btn_giris{
    right: 50%;
}
.buttons .btn_kayit{
    right: 1%;
}
.form_elements .buttons .active{
    background-color: #D27550;
    color: white;
    box-shadow: 1px 1px 3px lightcoral;
}

.form_elements .buttons .pasif{
    background-color: transparent;
    color: black;
}

.form_elements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;

}

.inputs{
    display: flex;
    align-items:center;
    flex-direction: column;
}
form{
    display: flex;
    flex-direction: column;
}

.inputs input{
    margin: 10px 0;
}
.inputs input,.inputs textarea{
    width: 350px;
    border-radius: 6px;
    background-color: #ececec;
    border-style: none;
    padding: 10px;
    outline: none;
    resize: none;
    font-family: "Arial"
}

.inputs input{
    height: 38px;
}

.kullanci_radios{
    padding: 25px 0 ;
    font-size: 12px;
}


.submit{
    padding: 10px 0;
    background-color: #D27550;
    color: white;
    font-weight: 600;
    font-size: 17px;
    border:none;
    border-radius: 6px;
    cursor: pointer;
}

.error-message{
    padding: 20px 0;
    color:red;
}