* {
    font-family: "Arial", sans-serif;
}


.odeme-sayfa input[type="submit"],button{
    cursor: pointer;
}

h2{
    margin: 20px;
}


.kart-container{
    border: 1px solid #e2e2e2;
    background-color: white;
    margin-top: 30px;
    padding: 0px 20px 20px;
    border-radius:5px;
    width: fit-content;

}

.radio-container tbody tr{
    display: flex;
    gap: 300px;
}

.hidden {
    display: none;
}

.toggle-btn{
    background-color: transparent;
    border: none;
    text-decoration: underline;
    margin-top: 10px;
    cursor:pointer;
}

.kartlar{
    display: flex;
    flex-direction: column;
}

.kayitli-kart-container{
    display: flex;
    margin: 10px;
    flex-direction: column;
    gap: 10px;
}

.kayitli-kart-container div{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 5px;
    padding: 20px;
    border-radius: 10px;
    background-color: #F9F9F9;
    box-shadow: 1px 1px 1px rgba(0,0,0, 0.25)
}

.clicked{
    outline: 3px solid #f27a1b
}

.odeme-sayfa-component{
    position: absolute;
    left: 60%;
    top: 30%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.odeme-form h2{
    padding-bottom: 30px;
}

.I-name,.I-KNum{
    border: solid 1px #919191;
    width: 320px;
    height: 36px;
    border-radius: 5px;
    padding-left: 5px;
    font-size: 14px;
    background-color: #F9F9F9;
}
.I-name:focus{
    outline: none;
}
.kart-container label{
    display: inline-block;
    padding: 26px 0px 5px;
    font-size: 13px;
}
.kart-son-kullanim{
    display:flex;
}
.kart-son-kullanim input{
    padding-left: 5px
}
.kart-son-kullanim input,.son-ay,.son-yil{
    width: 70px;
    height: 30px;
    background-color: #F9F9F9;
    border: solid 1px #919191;
}
.son-ay{
    margin-right: 7px;
    padding-left: 17px;
}
.son-yil{
    margin-right: 20px;

}

.kaydet{
    padding: 10px 0;
}

.kaydet{
    font-size: 14px;
}

.siparis-ozeti {
    justify-content: space-around;
    padding: 8px 25px 12px ;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border: 1px solid #c3c3c3;
    border-radius: 15px;
    max-height: 330px;
}
.siparis-ozeti > :first-child {
    padding: 15px 0px 25px;
}
.siparis-ozeti div{
    display: flex;
    justify-content: space-between;
    padding-bottom:  20px;
}
.cizgi{
    width: 100%;
    border: 0.5px solid;
    margin-bottom: 20px;
}

.kart-odeme-label{
    display: inline-block;
    margin-right: 400px;
}

.kupon-side{
    margin-top: 40px;
    border: 1px solid  #D95927;
    border-radius: 15px;
    padding: 15px 20px 15px 28px ;
    background-color: white;
    color:#D95927;
    font-size: 18px;
    font-weight: 600;
}
.kupon-side input[type="text"]{
    border-radius: 5px;
    padding: 4px;
    font-size: 14px;

}

.kupon-side input[type="text"]:focus{
    outline: none;

}

.kupon-side input[type="submit"]{
    background-color: #D95927;
    color: white;
    border-color: transparent;
    border-radius: 5px;
    padding: 4px 8px;
}

.odeme-btn{
    margin-top: 20px;
    background-color: #D95927;
    color: white;
    border-color: transparent;
    border-radius: 5px;
    padding: 4px 8px;
}
