* {
    font-family: "Arial", sans-serif;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 1380px;

}
input[type="submit"]{
    cursor: pointer;
}
.urunler-container {
    width: 60%;
    display: flex;

    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

.urunler-container > :first-child{
    font-size: 20px;
    font-weight: bold;
    margin: 25px 0px;
}

.urunler{
    display: flex;
    gap: 20px;
    width: 700px;
    flex-wrap: wrap
}


.card{
    box-shadow: 1px 1px 1px rgba(0,0,0, 0.25);
}

.card-title {
    font-weight: bold;
}

.urun-remove-btn{
    margin: 16px 0
}

.urun-remove-btn input[type="submit"]{
    padding: 8px 15px;
    background-color: #6F6F6F;
    color: #EEEEEE;
    border-radius: 12px;
    border: transparent;
}

.fiyat{
    color: #D95927;
    font-weight: bold;
    margin: 0;
}
.sayac {
    display: inline-block;
    background-color:#F9F9F9;
}
.sayac input[type="submit"]{
    display: inline-block;
    font-weight: bold;
    background-color: #EBEBEB;
    outline: none;
    border: none;
    padding: 8px 6px;
}
.sayac input[value="+"]{
    color:#D95927;
}
.sayac-degeri{
    display: inline-block;
    height: 40px;
    padding: 0 8px;
    margin: 0;
    margin-bottom: -15px;
}
.urunler-ozeti {
    justify-content: space-around;
    padding: 8px 25px 12px ;
    width: 25%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    border: 1px solid #c3c3c3;
    border-radius: 15px;
    max-height: 330px;
}
.urunler-ozeti > :first-child{
    font-weight: bold;
    font-size: 20px

}
.urunler-ozeti div{
    display: flex;
    justify-content: space-between;
}
.cizgi{
    width: 100%;
    border: 0.5px solid;
}
.urunler-ozeti input[type="submit"]{
    font-size: 15px;
    background-color: transparent;
    width: 100%;
    padding: 7px 0;
    border: 2px solid #D95927;
    color: #D95927;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.sepet-mesaj{
    position:absolute;
    right: 50%;
    top:50%;
    transform: translate(50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px
}

.sepet-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 999px;
    background-color: rgba(242,99,44, 0.10);
}

.sepet-mesaj i{
    font-size: 70px;
    color: #E65E29;
}

.sepet-mesaj p{
    font-size: 30px;
}