*{
    font-family:"arial";
}


.main{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1380px;
}
.kategory{
    width:200px;
    height: 100px;
    border-radius:5px;
}

.kategoriler{
    display: block;
    right: 0;
    float: right;
    margin-right: 20px;
    margin-top: 20px
}

.kategoriler input[type="submit"]{
    display: block;
}

.kategories-btn{
    display: flex;
    width: 100%;
}
.kategories-btn > :first-child,.kategories-btn > :last-child  {
    margin-right: 10px;
    padding: 0 5px;
}
.kategories-btn > :first-child,.kategories-btn > :last-child  {
    padding: 0 5px;
}
.alert {
    background-color: #EEE;
    width: 97%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,3%);
    line-height: 45px;
    z-index: 10;
    color:white;
    background-color: #D95927;
    opacity: 1;
    transition: opacity 0.4s ease;
}

.closebtn {
    color: white;
    font-weight: bold;
    font-size: 32px;
    cursor: pointer;
    position: absolute;
    right: 50px;
    top:25%;
}
.cumle{
    display: flex;
    padding-top: 8px;
}

.hide{
    display:none;
}
.cumle span i{
    display: inline-block;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.closebtn:hover {
    color: black;
}

.alert.hide {
    opacity: 0;
}


.urun-container{
    display: flex;
    flex-wrap:wrap;
    width: 100%;
    margin: auto auto;
    margin-right: -30px;
    padding-top: 40px;
}
.urun{
    width: 16%;
    margin-right: 4%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px
}

.urun-image{
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: white;
    margin: 5px;
}

.urun-image img{
    width:fit-content;
    height: 200px;
}


.urun-bilgileri{
    display: flex;
    flex-direction: column;
    height: 70px;
    justify-content: space-between;
    padding:10px 0 ;
}

.urun-fiyati-lable{
    color: #D95927;
    font-weight:bold;
}
.urun-satici-lable{
    font-weight:bold;
    font-size: 16px
}

.urun-urun-lable{
    font-size: 14px
}

.urun-btn{
    display:flex;
    justify-content: space-between;
}

.urun-btn input{

    padding: 4px 8px;
    font-weight: 600;
    cursor: pointer;

}

.urun-btn input[value= "Şimdi Al"] {
    color: #D95927;
    background-color: white;
    border: solid 1px #D95927;

}


.urun-btn input[value= "Sepete Ekle"] {

    color: white;
    background-color: #D95927;
    border:none ;
}

.roll{
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.previous-btn,.next-btn{
    background-color: transparent;
    outline: none;
    border: transparent;
    font-size: 28px;
    cursor: pointer;
    color:#D95927;

}
.previous-btn{
    margin-left: 4px;

}

.sayfa-sayisi{
    display: inline-block;
    padding: 10px;
    font-size: 22px;
    margin-top: -3px;
    font-weight: bold;
    color:#333;

}
